#displayed-Img {
  border: 2px black solid;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-left: 2rem;
  display: block;
  /* float: right; */
}

.short-img-gallery {
  display: flex;
  flex-wrap: wrap;
  border: 2px black double;
  border-radius: 5px;
  display: inline-block;
}

#gallary-img {
  height: 4rem;
  margin: 1rem;
}

.add-btn {
  background-color: white;
  padding: 3px 5px 3px 4px;
  border-radius: 6px;
  margin-left: 75%;
}
.add-btn:hover {
  cursor: pointer;
  background-color: #333;
  color: aliceblue;
  font-style: italic;
}
